<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Document</title>
</head>
<body>
    <h1>Python</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor cupiditate molestias non ex vitae error omnis labore ut totam ullam ipsa nemo, esse aliquid, similique iste optio excepturi autem obcaecati, ipsam doloribus! Quae dolorem nobis vero! Sunt cupiditate delectus ut velit necessitatibus repellendus dolorem suscipit, obcaecati minus maxime cum saepe quis, voluptatem ullam quidem nam commodi sit nisi odit possimus non et? Esse neque praesentium nostrum veritatis, officia minus quam modi eos voluptatem voluptate placeat cupiditate laborum? Unde hic magnam ducimus asperiores, nobis cupiditate veritatis obcaecati ad, explicabo maiores labore laboriosam quis quo mollitia quidem impedit, facilis quos nulla totam.</p>

    <!-- O /crud será definido como rota -->
    <a href="/crud">Acessar o Painel de Controle</a>
</body>
</html>